input {
  file {
    path => "/home/n0m3rcy/Desktop/wefly/data/airports.csv"
    type => "core2"
    start_position => "beginning"    
  }
}
filter{
    csv{
        separator => ","
        columns => ["id","ident","type","name","latitude_deg","longitude_deg","elevation_ft","continent","iso_country","iso_region","municipality","scheduled_service","gps_code","iata_code","local_code","home_link","wikipedia_link","keywords"]
    }
}
output {  
    elasticsearch {
        action => "index"
        hosts => ["localhost:9200"]
        index => "flights"
        workers => 1
    }
    stdout {}
}
