$PrimaryFontColor: #2c3e50;
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $PrimaryFontColor;
}
body{
    width: 100vw;
    height: 100vh;
}
#app{
    width: 100%;
    height: 100%;
}
.grid-container{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas: 
    "nav nav"
    "tickets map";

    .nav-wrap{
        grid-area: nav;
        background-color: #50E3C2;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .slider {
            position: relative;
            top: 5px;
        }
        .datepicker {
            position: relative;
            left: 500px;
            top: -20px;
        }
        input[type=submit] {
            position: relative;
            left: 675px;
            top: -40px;
        }
        }
    .tickets-wrap{
        grid-area: tickets;
        background-color: #fd6b6d;
        overflow: scroll;

        .ticketLabel{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            width: 50%;
            height: 5%;
            font-weight: 600;
            margin: 0 auto;
            margin-top: 10px;
            margin-bottom: 20px;
            border-radius: 20px;
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        }

        .ticket{
            width: 90%;
            height: 175px;
            margin: 5px auto;
            border-radius: 10px;
            background-color: #fff;
            font-family: 'Avenir';
            font-weight: 800;
            box-shadow: 1px 0 3px rgba(0,0,0,0.12), 1px 0 2px rgba(0,0,0,0.24);
            transition: all 0.3s cubic-bezier(.25,.8,.25,1);



            display: grid;
            grid-template-columns: 1fr 1fr 20px;
            grid-template-rows: 1fr 25px 25px 25px;
            grid-template-areas: 
            "fromTo price colorx"
            "depart depart colorx"
            "return return colorx"
            "durlegs durlegs colorx";

            .ticket-from-to{
                grid-area: fromTo;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                font-size: 25px;
            }
            .ticket-price{
                grid-area: price;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 25px;
            }
            .ticket-color{
                grid-area: colorx;

                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }
            .ticket-departure{
                grid-area: depart;
                font-size: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    //margin-left: 15px;
                    margin-right: 10px;
                }
                border-top: 1px dashed #D8D8D8;
            }
            .ticket-return{
                grid-area: return;
                font-size: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    //margin-left: 15px;
                    margin-right: 10px;
                }
                border-bottom: 1px dashed #D8D8D8;
            }
            .ticket-duration-legs{
                grid-area: durlegs;
                font-size: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
                p{
                    margin: 5px 5px;
                }
            }
            &:hover{
                cursor: pointer;
                box-shadow: 5px 0 10px rgba(0,0,0,0.25), 3px 0 3px rgba(0,0,0,0.22);
            }
            &:nth-child(odd) .ticket-color{
                background-color: #57B8FF;
            }
            &:nth-child(even) .ticket-color{
                background-color: #50e3c2;
            }
        }
    }
    .map-wrap{
        grid-area: map;

        #mapboxgl-map{
            width: 100%;
            height: 100%;
        }
        
    }
    
}
